.container {
    text-align: center;
    margin: 0 10vw;
}

.header {
    text-align: left;
    margin: 0;
    padding: 1rem;
    border-bottom: 2px solid #EAB452;
}

.translation-field-info, .header, #text-button {
    background-color: #FFC760;
}

#text-button:hover, #text-button:active {
    background-color: #dda63f;
}

#text-button {
    box-shadow: 0 0.17rem #999;
}

#text-button:active {
    box-shadow: 0 0.1rem #666;
}

.bold-text {
    font-weight: bold;
}

.main-page-text {
    margin-left: 15vw;
    font-size: 36px;
}
.profile-text {
    margin-top: 2vh;
}

.button-group {
    margin-top: 10px;
}

.main-page-profile {
    text-align: right;
    font-size: 36px;
}

.field-container {
    padding: 2rem;
}

.text-field-container {
    position: relative;
}

.input-text-field {
    width: 80%;
    margin: 6px 0;
    box-sizing: border-box;
    padding: 0.5rem 4rem;
    border-radius: 20px;
    outline: none;
    border: 3px solid #6d48a8;
}

.input-text-field:focus {
    border: 3px solid black;
    background-color: lightblue;
}

.input-symbol, .input-button {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
}

.input-symbol {
    font-size: 1.5rem;
    left: 12%;
}

.input-button {
    right: 12%;
}

#mb{
    width: 50%;
    text-align: center;
    margin: 0 10vw 0 21vw; 

}
#text-button {
    width: 2.5rem;
    height: 60%;
    border-radius: 50%;
}

@media screen and (min-width: 1300px) {
    .text-size-m {
        font-size: 120%;
    }
}
@media screen and (max-width: 1300px) {
    .text-size-m {
        font-size: 100%;
    }
}
@media screen and (max-width: 900px) {
    .text-size-m {
        font-size: 73%;
    }
}

.translation-field-container, .posts-field-container {
    border: 1px solid gray;
    border-radius: 20px;
    box-shadow: -0.1em -0.2em 1em gray;
    height: 50vh;
    margin-bottom: 20px;
}

.posts-field-container{
    height: 40vh;
    text-align: left;
}

.translation-field, .posts-field {
    box-sizing: border-box;
    padding: 2em;
    height: 83%;
    overflow-y: auto;
}

.translation-field-footer {
    background-color: #845EC3;
}

.translation-field-footer {
    text-align: center;
    min-height: 17%;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    border: 2px solid black;
}

.translation-field-info {
    position: absolute;
    border: 2px solid black;
    border-radius: 20px;
    width: 10rem;
    max-width: 20%;
    padding: 0.3rem 0.4rem;
}

.sign-img, .fallback-img {
    width: 8%;
    margin: 0 -0.1em;
    height: auto;
}

.fallback-img {
    opacity: 0;
}
