.container {
    text-align: center;
    margin: 0 10vw;
}

.header {
    text-align: left;
    background-color: #FFC760;
    margin: 0;
    padding: 1rem;
    border-bottom: 2px solid #EAB452;
}
.main-page-text {
    margin-left: 15vw;
    font-size: 36px;
    font-weight: bold;
}

.main-page-profile {
    text-align: right;
    font-size: 36px;
}

.field-container {
    padding: 2rem;
}

.text-field-container {
    position: relative;
}

.input-text-field {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 4rem;
    border-radius: 20px;
    outline: none;
}

.input-symbol, .input-button {
    position: absolute;
    z-index: 2;
}

.input-symbol {
    font-size: 2rem;
}

.input-button {
    transform: translate(-120%, 20%);
}

#text-button {
    width: 3rem;
    height: 70%;
    border-radius: 100%;
}
@media screen and (min-width: 1300px) {
    .text-size-m {
        font-size: 1.4vw;
    }
    .input-symbol {
        margin: 0.5vw 0.4vw;
    }
}
@media screen and (max-width: 1300px) {
    .text-size-m {
        font-size: 2vw;
    }
    .input-symbol {
        margin: 0.6vw 0.5vw;
    }
}
@media screen and (max-width: 900px) {
    .text-size-m {
        font-size: 2.75vw;
    }
    .input-symbol {
        margin: 0.5vw 1vw;
    }
}

.translation-field-container {
    margin-top: 10vh;
    border: 1px solid gray;
    border-radius: 20px;
    box-shadow: -0.1em -0.2em 1em gray;
    height: 50vh;
    margin-bottom: 20px;
}

.translation-field {
    box-sizing: border-box;
    padding: 2em;
    height: 90%;
    overflow-y: auto;
}

.translation-field-footer {
    background-color: purple;
    min-height: 10%;
    height: 2.5rem;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.translation-field-info {
    position: absolute;
    transform: translate(50%, 10%);
    background-color: white;
    border-radius: 20px;
    width: 10rem;
    max-width: 20%;
    padding: 0.3rem 0;
}

.sign-img, .fallback-img {
    width: 8%;
    margin: 0 -0.1em;
    height: auto;
}

.fallback-img {
    opacity: 0;
}
